@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .badge {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    font-size: 12px;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

button,
a {
  font-family: "Poppins", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #99dc2f;
  border-radius: 15px;
}

.hello {
  background-color: indianred;
  font-size: 30px;
}
